@(current_filter: Filter)(message: String)

@main("explore") {

    <form name="submitForm" action="@routes.ItemActions.searchFiltered()" method="post">
        <a href="" class="btn btn-primary" id="slick-toggle">Collapse Filtering Form</a>
        <button onclick="sendJson()" class="btn btn-primary">Update</button>
        <a href="@routes.Dressando.explore()" class="btn btn-primary">Clear</a>

        <div id="slickbox" class="col-md-12 well">
            <div class="col-md-3">
                <h3>Brand:</h3>
                <ul>
                @for(brand <- current_filter.Brand) {
                    <li class="checkbox">
                        <label @if(brand.no_of_items == 0){ style="color:red" }><input type="checkbox" name="brand" @if(brand.selected){ checked="yes" } onchange="sendJson()" value="@brand.name">@brand.name (@brand.no_of_items)</label>
                    </li>
                }
                </ul>
            </div>

            <div class="col-md-2">
                <h3>Style:</h3>
                <ul>
                @for(types <- current_filter.Types) {
                    <li class="checkbox">
                        <label @if(types.no_of_items == 0){ style="color:red" }><input type="checkbox" name="types" @if(types.selected){ checked="yes" } onchange="sendJson()" value="@types.name">@types.name (@types.no_of_items)</label>
                    </li>
                }
                </ul>
            </div>

            <div class="col-md-2">
                <h3>Color:</h3>
                <ul>
                    @for(color <- current_filter.Color) {
                        <li class="checkbox">
                            <label @if(color .no_of_items == 0){ style="color:red" }><input type="checkbox" name="color" @if(color.selected){ checked="yes" } onchange="sendJson()" value="@color.name">@color.name  (@color.no_of_items)</label>
                        </li>
                    }
                </ul>
            </div>

            <div class="col-md-2">
                <h3>Size:</h3>
                <ul>
                    @for(size <- current_filter.Size) {
                        <li class="checkbox">
                            <label @if(size.no_of_items == 0){ style="color:red" }><input type="checkbox" name="size" @if(size.selected){ checked="yes" } onchange="sendJson()" value="@size.name">@size.name (@size.no_of_items)</label>
                        </li>
                    }
                </ul>
            </div>

            <div class="col-md-3">
                <h3>Material:</h3>
                <ul>
                @for(material <- current_filter.Material) {
                    <li class="checkbox">
                        <label @if(material.no_of_items == 0){ style="color:red" }><input type="checkbox" name="material" @if(material.selected){ checked="yes" } onchange="sendJson()" value="@material.name">@material.name  (@material.no_of_items)</label>
                    </li>
                }
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Price:</h3>
                <ul>
                    From:<br>
                    <input type="text" name="minPrice" value="@current_filter.MinPrice" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                </ul>
                <ul>
                    To:<br>
                    <input type="text" name="maxPrice" value="@current_filter.MaxPrice" onkeypress='return event.charCode >= 48 && event.charCode <= 57' />
                </ul>
            </div>
        </div>
        <input type="hidden" name="jsonPacket" id="jsonPacket" value="Json packet"/>

    </form>

    <div class="row">
        <div class="col-md-12">
            @if(current_filter.SelectedItems.size()>1){<h2>@current_filter.SelectedItems.size() Dresses Found:</h2>}
            @if(current_filter.SelectedItems.size()==1){<h2>1 Dress Found:</h2>}
            @if(current_filter.SelectedItems.size()==0){<h2>Sorry, no dresses found:</h2>}
        </div>
    </div>


    @for(item <- current_filter.SelectedItems) {

        <div class="well">
            <div class="row">
                <div class="col-md-6">
                @defining("images/" + item.id.toString + ".png") { itemid: String =>
                        <img src="@routes.Assets.at(itemid)" width="250px">
                    }

                </div>
                <div class="col-md-6">
                    <h3>Your dress</h3>
                    <ul>
                        <li>Color: @item.color</li>
                        <li>Size: @item.dress_size</li>
                        <li>Style: @item.dress_type</li>
                        <li>Brand: @item.brand</li>
                        <li>Material: @item.material</li>
                    </ul>
                    <a href="" class="btn btn-primary">See details</a>
                    <a href="" class="btn btn-primary">One click lend</a>
                    @*<a href="" class="btn btn-primary">Remember</a>*@
                </div>
            </div>
            <hr>
        </div>
    }

    <script>
        //send JSON Packet through Form as String (executed every onchange() by checkboxes
        function sendJson() {
            var elem = document.getElementById("jsonPacket");
            elem.value = JSON.stringify($('form').serializeObject());
            document.forms["submitForm"].submit();
        }

        //Create JSON Packet from Form
        $.fn.serializeObject = function()
        {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function() {
                if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };

        $(document).ready(function() {
             // toggles the slickbox on clicking the noted link
              $('#slick-toggle').click(function() {
                if (document.getElementById("slick-toggle").innerHTML == "Collapse Filtering Form"){
                    document.getElementById("slick-toggle").innerHTML = "Expand Filtering Form";
                }else{
                    document.getElementById("slick-toggle").innerHTML = "Collapse Filtering Form";
                }

                $('#slickbox').toggle(400);
                return false;
              });
        });
    </script>
}
