@(template: String)
<!-- Footer -->
<footer>
  <div class="container col-md-12">
    <div class="row">
      <div class="col-md-offset-4 col-md-8">
        <ul class="list-inline footer">
          <li>
            <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#services">Terms of Service</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#privacyStatement">Privacy Statement</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>