@(template: String)
  <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; WhoElse 2015 <br>
						Template: Freelancer Bootstrap Template from http://startbootstrap.com/ <br>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-success" href="@routes.WhoElse.resetDB()">reset</a>
    </footer>