@(template: String)
<!-- Footer -->
</br></br>
<footer>
  <div class="container col-md-12">
    <div class="row">
      <div class="col-md-offset-4 col-md-8">
        <ul class="list-inline footer">
          <li>
            <a href="#about">About</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#services">Terms of Service</a>
          </li>
          <li class="footer-menu-divider">&sdot;</li>
          <li>
            <a href="#privacyStatement">Privacy Statement</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

  <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    
                    
                    
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; WhoElse 2015 </br>
						Template: Freelancer Bootstrap Template from http://startbootstrap.com/ </br>
						Header Picture © 3dan3 – iStock.com
                    </div>
                </div>
            </div>
        </div>
    </footer>