<!DOCTYPE html>
<html>
    <head>
        <title>WhoElse</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/lander.css")">
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
        <script type='text/javascript' src='@routes.Assets.at("scripts/mapTools.js")'></script>
        <script type='text/javascript' src='@routes.Assets.at("scripts/autocomplete.js")'></script>
    </head>
    <body class="lander" onload="loadStuff(document);initializeAutocomplete(document);">


        <div class="intro-header">
            <div class="container">
                <span id="background">
                <div class="row" style="">
                    <div class="col-lg-12" style="display: flex; justify-content: space-around; align-content: center">
                        <div align="center" class="intro-message">
                            <h1 style="color:black;">WhoElse</h1>
                            <img class="img-circle img-responsive" src="@routes.Assets.at("images/profile.png")" alt="">
                            <h3 style="font-weight:bold;">Find your best suitable commuting partner - in an easy, automated and effortless way</h3>
                            <hr class="intro-divider">
                            <form id="searchRoute" name="searchRoute" action="@routes.RouteActions.search()" method="post">
                                <input class="form-control" id="startAddress" type="hidden" name="startAddress" value="" />
                                <input class="form-control" id="date" name="date" type="hidden" value=""/>
                                <input class="form-control col-xs-2" id="time" name="time" type="hidden" value=""/>
                                <input class="form-control col-xs-2" id="flexibility" name="flexibility" type="hidden" value="720"/>
                                <input class="form-control" id="car" name="car" type="hidden"  value="No"/>
                                <input class="form-control" id="request_type" name="request_type" type="hidden"  value=""/>
                                <input class="form-control" id="endAddress" type="text" name="endAddress" style="width: 600px; height: inherit" placeholder="Enter a destination" onFocus="geolocate()" />
                                <br>
                                <button class="btn btn-success btn-lg" id="action_button" name="action_button" onclick="loadStuff(document);" value="Start commuting!">Start commuting!</button>
                            </form>
                        </div>
                    </div>
                </div>


                </span>
            </div>
        </div>

            <!-- Page Content -->
        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">What is WhoElse</h2>
                        <p class="lead">In one sentence: We are a ride sharing platform.</p>
                        <p class="lead">We focus on the commuter and help to find the best suitable commuting partner in an easy, automated and effortless way. We are doing this by demanding minimal user input and offering an automatical matching function.</p>
                    </div>
                    <div class="col-md-6">
                        <img class="img-circle img-responsive" src="@routes.Assets.at("images/profile.png")" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-circle img-responsive" src="@routes.Assets.at("images/wir.png")" alt="">
                    </div>
                    <div class="col-md-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Who are we?</h2>
                        <p class="lead">We are a team of TUM student who participate in TUM Informatics practical course 'Mobility Services', in SS2015. If you have any questions we are happy to hear from you.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section-a">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Save Money</h2>
                        <p class="lead">No matter which commuting ride you will choose, it is expensive. At least if you commute on your own. In this case, sharing your ride also means sharing the commuting costs. The more people participate, the cheaper it is.</p>
                    </div>
                    <div class="col-md-6">
                        <img class="img-circle img-responsive" src="@routes.Assets.at("images/geld.png")" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="content-section-b">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-circle img-responsive" src="@routes.Assets.at("images/umwelt.png")"  alt="">
                    </div>
                    <div class="col-md-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Environmentally friendly</h2>
                        <p class="lead">Reduce environmental pollution. Many people have to commute daily. Let´s share our rides, commute together and finally reduce CO2 emission in order to save our world.</p>
                    </div>
                </div>
            </div>

            <div class="content-section-a">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <h2 class="section-heading">Get to your destination Faster</h2>
                            <p class="lead">Less cars, less traffic. That is how it is. A big community of commuters have an impact on the amount of cars on our roads. Let´s make use of that power and finally get faster from A to B.</p>
                        </div>
                        <div class="col-md-6">
                            <img class="img-circle img-responsive" src="@routes.Assets.at("images/pendeln.jpg")" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>
<script type="text/javascript">




</script>