@(template: String)

<!DOCTYPE html>
<html>
    <head>
        <title>Dressando</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/lander.css")">
        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>


        <style>
        body {
        margin-top: 50px;
        }
        </style>

    </head>
    <body class="lander">

        <div class="intro-header">
            <div class="container">
                <span id="background">
                <div class="row" style="">
                    <div class="col-lg-12">
                        <div class="intro-message">
                            <h1>Dressando</h1>
                            <h3>Lend your favorite dress for special a special event - with Dressando</h3>
                            <hr class="intro-divider">
                            <form action="@routes.UserActions.authenticate()" onsubmit="return validateCreateItemForm()" method="post" class="form-horizontal" name="authenticate">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="container col-md-4">
                                    <div class="form-group">
                                        <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required="required" autofocus="">
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="password" id="pwd" name="password" class="form-control" placeholder="Password" required="required">
                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                                </div>

                                <a href="@routes.UserActions.authenticate()"><button type="submit" class="btn btn-primary btn-lg"><span class="" aria-hidden="true"></span>Sign in</button></a>
                            </form>
                            <a href="@routes.UserActions.getSignUpPage()"><button type="button" class="btn btn-primary btn-lg"><span class="" aria-hidden="true"></span>Sign up</button></a>
                        </div>
                    </div>
                </div>
                </span>
            </div>
        </div>

            <!-- Page Content -->
        <div class="content-section-a">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">What is Dressando</h2>
                        <p class="lead">Dressando is your new website for lending high class evening fashion for your special event. Getting dressed with brands like Chanel or Gucci is now affordable for everyone. Start now.</p>
                    </div>
                    <div class="col-md-6">
                        <img class="img-circle img-responsive" src="@routes.Assets.at("images/whatisdressando.jpg")" alt="">
                    </div>
                </div>

            </div>
                <!-- /.container -->

        </div>
            <!-- /.content-section-a -->

        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <img class="img-circle img-responsive" src="@routes.Assets.at("images/klein1.png")" alt="">
                    </div>
                    <div class="col-md-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">Who are we?</h2>
                        <p class="lead">We are a Team of TUM student who started their own business in 2015. If you have any questions please feel free to contact us.</p>
                    </div>

                </div>

            </div>
                <!-- /.container -->

        </div>
            <!-- /.content-section-b -->

        <div class="content-section-a">

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">For lenders of evening dress</h2>
                        <p class="lead">For lenders of high class evening dress, Dressando offers a responsive easy usable online platform. You can easily and quickly upload pictures and a description with attributes of the dress you would like to lend to others. This way you make money out of underutilized dressses. Start now.</p>
                    </div>
                    <div class="col-md-6">
                        <img class="img-circle img-responsive" src="@routes.Assets.at("images/klein2.png")" alt="">
                    </div>
                </div>

            </div>
                <!-- /.container -->

        </div>

        <div class="content-section-b">

            <div class="container">

                <div class="row">
                    <div class="col-md-6">
                        <img class="img-circle img-responsive" src="@routes.Assets.at("images/klein3.png")" alt="">
                    </div>
                    <div class="col-md-6">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h2 class="section-heading">For borrowers - need a dress and accessories?</h2>
                        <p class="lead">With evening dress of Dressando the floor will be all yours. You want to feel special and become the star of the night but don't want to spend all your money for a high class dress? Dressando has the solution. Choose your favorite dress out of thousands. We are sure you will find the right one and it will be delivered right to you. Start now. </p>
                    </div>

                </div>

            </div>
                <!-- /.container -->
        </div>

        <a  name="contact"></a>
        <div class="banner">

            <div class="container">

                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <ul class="list-inline banner-social-buttons">
                            <li>
                                <a href="@routes.Dressando.impressum()" class="btn btn-link btn-md"><i class=""></i> <span class="network-name">Impressum</span></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/dressando" class="btn btn-link btn-md"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://facebook.com/dressando" class="btn btn-link btn-md"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>
                            <li>
                                <a href="https://linkedin.com/dressando" class="btn btn-link btn-md"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
                <!-- /.container -->

        </div>
            <!-- /.banner -->



