@(message: String)

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>WhoElse - Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    </head>
    <body background="@routes.Assets.at("images/whoelse.jpg")">
        <h2>@message</h2>
        <h2>Login</h2>
        <div class="col-md-7 well">
            <div class="col-md-10">
                <div ng-app="">
                    <form action="@routes.UserActions.authenticate()" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="text">Username</label>
                            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required="required">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" id="inputPw" name="password" class="form-control" placeholder="Password" required="required">
                        </div>
                        <div class="form-group">
                            <p><button type="submit" class="btn btn-primary">Login</button></p>
                        </div>
                    </form>
                    <div>
                        <label for="text">If you dont have an account</label>
                        <a href="@routes.WhoElse.getSignUpPage()"><button type="button" class="btn btn-primary btn-lg">Register</button></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>