@(message: String)
@main("") {
    <head>
        <title>WhoElse - Login</title>
    </head>

    <section>
        <div class="container">
            <h3>@message</h3>
            <h3 align="left">Login</h3>
            <div class="col-md-10">
                <div ng-app="">
                    <form action="@routes.UserActions.authenticate()" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label for="text">Username</label>
                            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" id="inputPw" name="password" class="form-control" placeholder="Password" required>
                        </div>
                        <div class="form-group">
                            <p><button type="submit" class="btn btn-primary">Login</button></p>
                        </div>
                    </form>
                    <div>
                        <label for="text">If you dont have an account</label>
                        <a href="@routes.WhoElse.getSignUpPage()"><button type="button" class="btn btn-primary">Register</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    }