@(template: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>WhoElse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/freelancer.css")">
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script type='text/javascript' src='@routes.Assets.at("scripts/autocomplete.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("scripts/mapTools.js")'></script>
</head>
    @*background="@routes.Assets.at("images/whoelse.jpg")"*@
<body  >
    <div class="container col-md-offset-1 col-md-8">
        <a href="@routes.WhoElse.main()" class="title">
            <h1>WhoElse</h1>
        </a>
        @menu(template)
        @content
        @footer(template)
    </div>
</body>
</html>
