@(template: String)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="WhoElse APP">
    <meta name="author" content="Imaginnovation">
	
	
	<title>WhoElse</title>
	
	
	
	

   
	

	
	
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
  
	
	
	<!--
	<link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>-->
	<link rel='stylesheet' href='@routes.Assets.at("stylesheets/bootstrap.min.css")'>
     <link rel='stylesheet' href='@routes.Assets.at("stylesheets/freelancer.css")'>
	 <link rel='stylesheet' href='@routes.Assets.at("stylesheets/main.css")'>

	<!--glyphicons -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
	
	
	
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.js"))'></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script type='text/javascript' src='@routes.Assets.at("scripts/autocomplete.js")'></script>
    <script type='text/javascript' src='@routes.Assets.at("scripts/mapTools.js")'></script>
	
	 <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	
</head>
    @*background="@routes.Assets.at("images/whoelse.jpg")"*@
<body>
    
        <a href="@routes.WhoElse.main()" class="title">
            <h1>WhoElse</h1>
        </a>
        @menu(template)
        @content
        @footer(template)
    
</body>
</html>

