@(template: String)
<!--Menu-->


   <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.WhoElse.main()">WhoElse</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation" class="@{if (template == "search") { "active" }}"><a href="@routes.WhoElse.search()">Search</a></li>
                    @if(session().containsKey("whoelse_user")){
                        <li role="presentation" class="@{if (template == "profile") { "active" }}"><a href="@routes.WhoElse.profile()">My Routes</a></li>
                    }
                    @if(!session().containsKey("whoelse_user")){
                        <li role="presentation" class="@{if (template == "profile") { "active" }}"><a href="@routes.WhoElse.getLoginPage()">My Routes</a></li>
                    }
					<li class="dropdown">
								 <a class="dropdown-toggle" data-toggle="dropdown" href="#">User Profile
                                     @if(session().containsKey("whoelse_user")) {
                                         @if(Integer.valueOf(session().get("whoelse_notifications")) > 0) { (@session().get("whoelse_notifications")) }
                                        }
								  <span class="caret"></span></a>
											<ul class="dropdown-menu" style="padding:15px;">

									@if(session().containsKey("whoelse_user")){
										<p align="center" style="font-size: 14px">Logged in as <br>
										<a style="font-size: 16px; color:black" href="@routes.WhoElse.userProfile(session().get("whoelse_user_id").toInt)">@session().get("whoelse_user")</a></p>
                                        <center><a class="btn btn-success" style="color:black; font-size: 14px" href="@routes.WhoElse.logout()">
                                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout</a></center>
									}  
									@if(!session().containsKey("whoelse_user")){
                                        <p align="center" style="font-size: 14px">Not Logged In</p>
                                        <a class="btn btn-success" style="color:black; font-size: 14px" href="@routes.WhoElse.getLoginPage()"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login</a>
									}
						 </ul>		
					<li>
                    <li>
                        @if(session().containsKey("whoelse_user")){
                            @if(session().get("whoelse_user_id").toInt==1){
                                <img src='@routes.Assets.at("images/user1.jpg")' name="aboutme" width="70" height="80" class="img-circle" >
                            }
                            @if(session().get("whoelse_user_id").toInt==2){
                                <img src='@routes.Assets.at("images/user2.jpg")' name="aboutme" width="70" height="80" class="img-circle" >
                            }
                            @if(session().get("whoelse_user_id").toInt==3){
                                <img src='@routes.Assets.at("images/user3.jpg")' name="aboutme" width="70" height="80" class="img-circle" >
                            }
                        }
                    </li>
                </ul>
				
				
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
<!--MenuEND-->