@main("search") {

    <body onload="initializeAutocomplete(document)">

        <form name="searchRoute" action="@routes.WhoElse.search()" method="post">
            <label>Starting Address</label>
            <input class="form-control" id="startAddress" type="text" name="startAddress" value="Enter Location" onFocus="geolocate()" />
            <input type="checkbox" name="autoStart" checked="yes" value="Auto">Auto
            <br>

            <label>Destination Address</label>
            <input class="form-control" id="endAddress" type="text" name="endAddress" value="Enter Location" onFocus="geolocate()" />
            <input type="checkbox" name="autoEnd" checked="yes" value="Auto">Auto
            <br>

            <label>Date</label>
            <input name="date" value="30.12.2015" />
            <br>

            <label>Time</label>
            <input name="time" value="20:30"/>
            <br>

            <input class="btn btn-success" type="submit" value="Search">
        </form>

        <div>
            <h2>Matched Patterns</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Start Address
                    </th>
                    <th>
                        Destination Address
                    </th>
                    <th>
                        Puncuality Address
                    </th>
                    <th>
                        Start Address
                    </th>
                    <th>
                        Start Address
                    </th>
                </tr>
                <tr>
                    <th>
                        test1
                    </th>
                    <th>
                        test1
                    </th>
                    <th>
                        test1
                    </th>
                    <th>
                        test1
                    </th>
                    <th>
                        test1
                    </th>
                </tr>
            </table>
        </div>

        <div>
            <h2>Similar Searches</h2>
            <table class="table table-striped table-bordered">
                <tr>
                    <th>
                        Start Address
                    </th>
                    <th>
                        Destination Address
                    </th>
                    <th>
                        Frequency
                    </th>
                </tr>
                <tr>
                    <td>
                        test1
                    </td>
                    <td>
                        test1
                    </td>
                    <td>
                        test1
                    </td>
                </tr>
            </table>
        </div>

        <div id="mapContainer" style="height: 600px ; width: 80%; margin: 0px auto;"; >
                <!-- This is where Google map will go. -->
        </div>
    </body>


<script>

    pinpointMe(document);
</script>
}
