@main("search") {

    <body onload="initializeAutocomplete(document)">

        <form name="searchRoute" action="@routes.WhoElse.search()" method="post">
            <label>Starting Address</label>
            <input class="form-control" id="startAddress" type="text" name="startAddress" value="Enter Location" onFocus="geolocate()" />
            <input type="checkbox" name="autoStart" checked="yes" value="Auto">Auto
            <br>

            <label>Destination Address</label>
            <input class="form-control" id="endAddress" type="text" name="endAddress" value="Enter Location" onFocus="geolocate()" />
            <input type="checkbox" name="autoEnd" checked="yes" value="Auto">Auto
            <br>

            <label>Date</label>
            <input name="date" value="30.12.2015" />
            <br>

            <label>Time</label>
            <input name="time" value="20:30"/>
            <br>

            <input type="submit" value="Search">
        </form>

        <div>
            <h2>Matched Patterns</h2>
            <table>
                <tr>
                    <th>
                        Start Address
                    </th>
                    <th>
                        Destination Address
                    </th>
                    <th>
                        Puncuality Address
                    </th>
                    <th>
                        Start Address
                    </th>
                    <th>
                        Start Address
                    </th>
                </tr>
                <tr>
                    <th>
                        test1
                    </th>
                    <th>
                        test1
                    </th>
                    <th>
                        test1
                    </th>
                    <th>
                        test1
                    </th>
                    <th>
                        test1
                    </th>
                </tr>
            </table>
        </div>

        <div>
            <h2>Similar Searches</h2>
            <table>
                <tr>
                    <th>
                        Start Address
                    </th>
                    <th>
                        Destination Address
                    </th>
                    <th>
                        Frequency
                    </th>
                </tr>
                <tr>
                    <td>
                        test1
                    </td>
                    <td>
                        test1
                    </td>
                    <td>
                        test1
                    </td>
                </tr>
            </table>
        </div>

        <div id="mapContainer" style="height: 600px ; width: 80%; margin: 0px auto;"; >
                <!-- This is where Google map will go. -->
        </div>
    </body>


<script>
        // Get the map container node.
        var mapContainer = $( "#mapContainer" );

        // Create the new Goole map controller using our
        // map (pass in the actual DOM object). Center it
        // above the first Geolocated IP address.
        map = new google.maps.Map(
            mapContainer[ 0 ],
            {
                zoom: 15,
                center: new google.maps.LatLng(
                    40.700683,
                    -73.925972
                ),
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
        );
        google.maps.event.trigger(map, 'resize')
        var bounds = new google.maps.LatLngBounds();
		// [START region_geolocation]
		// Bias the autocomplete object to the user's geographical location,
		// as supplied by the browser's 'navigator.geolocation' object.
		function geolocate() {
		  if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
			  var geolocation = new google.maps.LatLng(
				  position.coords.latitude, position.coords.longitude);
			  var circle = new google.maps.Circle({
				center: geolocation,
				radius: position.coords.accuracy
			  });
			  autocomplete.setBounds(circle.getBounds());
			});
		  }
		}
		// [END region_geolocation]

//		google.maps.event.addDomListener(window, 'load', initializeAutocomplete);

        // I add a marker to the map using the given latitude
        // and longitude location.
        function addMarker( latitude, longitude, label ){
            // Create the marker - this will automatically place it
            // on the existing Google map (that we pass-in).
            var marker = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(
                    latitude,
                    longitude
                ),
                title: (label || "")
            });


            // Return the new marker reference.
            return( marker );
        }


        // I update the marker's position and label.
        function updateMarker( marker, latitude, longitude, label ){
            // Update the position.
            marker.setPosition(
                new google.maps.LatLng(
                    latitude,
                    longitude
                )
            );

            // Update the title if it was provided.
            if (label){

                marker.setTitle( label );

            }
        }

        // Check to see if this browser supports geolocation.
        if (navigator.geolocation) {

            // This is the location marker that we will be using
            // on the map. Let's store a reference to it here so
            // that it can be updated in several places.
            var locationMarker = null;


            // Get the location of the user's browser using the
            // native geolocation service. When we invoke this method
            // only the first callback is requied. The second
            // callback - the error handler - and the third
            // argument - our configuration options - are optional.
            navigator.geolocation.getCurrentPosition(
                function( position ){
                        var latlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                        var geocoder;

                        geocoder = new google.maps.Geocoder();

                      geocoder.geocode({'latLng': latlng}, function(results, status) {
                        if (status == google.maps.GeocoderStatus.OK) {
                          if (results[0]) {
                            document.getElementById('startAddress').value = results[0].formatted_address;
                          } else {
                            alert('No results found');
                          }
                        } else {
                          alert('Geocoder failed due to: ' + status);
                        }
                      });


                    // Check to see if there is already a location.
                    // There is a bug in FireFox where this gets
                    // invoked more than once with a cahced result.
                    if (locationMarker){
                        return;
                    }

                    // Log that this is the initial position.
                    console.log( "Initial Position Found" );

                    // Add a marker to the map using the position.
                    locationMarker = addMarker(
                        position.coords.latitude,
                        position.coords.longitude,
                        "Initial Position"
                    );
                    bounds.extend(locationMarker);
                    map.setCenter(locationMarker);
                    map.fitBounds(bounds);
                    map.setZoom(15);

                },
                function( error ){
                    console.log( "Something went wrong: ", error );
                },
                {
                    timeout: (5 * 1000),
                    maximumAge: (1000 * 60 * 15),
                    enableHighAccuracy: true
                }
            );


            // Now tha twe have asked for the position of the user,
            // let's watch the position to see if it updates. This
            // can happen if the user physically moves, of if more
            // accurate location information has been found (ex.
            // GPS vs. IP address).
            //
            // NOTE: This acts much like the native setInterval(),
            // invoking the given callback a number of times to
            // monitor the position. As such, it returns a "timer ID"
            // that can be used to later stop the monitoring.
            var positionTimer = navigator.geolocation.watchPosition(
                function( position ){

                    // Log that a newer, perhaps more accurate
                    // position has been found.
                    console.log( "Newer Position Found" );

                    // Set the new position of the existing marker.
                    updateMarker(
                        locationMarker,
                        position.coords.latitude,
                        position.coords.longitude,
                        "Updated / Accurate Position"
                    );
                    if ((!map.getBounds().contains(locationMarker.getPosition()))) { //Note the double &
					    map.setCenter(locationMarker.getPosition());
					    //OR map.panTo(marker.getPosition());
					    bounds.extend(locationMarker);
                    	map.setCenter(locationMarker);
                    	map.fitBounds(bounds);
                    	map.setZoom(15);
					}

                }
            );

            // If the position hasn't updated within 5 minutes, stop
            // monitoring the position for changes.
            setTimeout(
                function(){
                    // Clear the position watcher.
                    navigator.geolocation.clearWatch( positionTimer );
                },
                (1000 * 60 * 5)
            );

        }
    </script>
}
