@(searchResult: SearchResponse)(matchResponse: MatchResponse)(message: String)

@main("search") {

    <body onload="initializeAutocomplete(document)">
		<section>
		<div class="container">
		<h3>Search for Ridehsharing</h3><br>
        <form id="searchRoute" name="searchRoute" method="post">

            <div class="col-xs-12">
            <label>Starting Address</label>
            <input class="form-control" id="startAddress" type="text" name="startAddress" value="" placeholder="Enter Location" onFocus="geolocate()" />
            </div>
            <br>

			<div class="col-xs-12">
            <label>Destination Address</label>
            <input class="form-control" id="endAddress" type="text" name="endAddress" value="" placeholder="Enter Location" onFocus="geolocate()" />

            <label>Use current location for</label>
            <input type="radio" name="auto" checked="yes" onclick="handleClick();" value="start"><b>Starting</b>
            <label>or</label>
            <input type="radio" name="auto" onclick="handleClick();" value="dest"><b>Destination</b>
            <label>Address</label>

            </div>
			<br>



			<div class="col-xs-4">
            <label>Date</label>
            <input class="form-control" name="date" type="date" placeholder="30.12.2015" />
			</div>
            <br>

			<div class="col-xs-4">
            <label>Time</label>
            <input class="form-control col-xs-2" name="time" type="time" placeholder="20:30"/>
			</div>
            <br>

            <div class="col-xs-4">
            <label>Time Flexibility</label>
            <input type=range id="flexibility" name="flexibility" min=0 value=30 max=180 step=30 oninput="outputUpdate(value)"><output for=fader id=volume>30 Minutes</output>
            </div>
            <br>

            <div class="col-xs-4">
            <label>Do you want to use your car?</label>
            <select class="form-control" id="car" name="car" >
                <option value="No" selected="selected">No</option>
                <option value="Yes">Yes</option>
            </select>
            </div>
   
			<br>
			<div class="col-xs-12" style="margin-top:20px">
            <input class="btn btn-success" type="submit" name="action_button" onclick="form.action=@routes.RouteActions.search();" value="Search">
            @if(session().containsKey("whoelse_user")){
                <input class="btn btn-success" type="submit" name="action_button" onclick="form.action=@routes.RouteActions.subscribe();" value="Subscribe for this route">
            }
            @if(!session().containsKey("whoelse_user")){
                <button class="btn btn-success" name="action_button" onclick="@routes.WhoElse.getLoginPage();" value="Login">Login to subscribe for routes</button>
                @*<input class="btn btn-success" type="submit" name="action_button" onclick="form.action=@routes.WhoElse.getLoginPage();" value="Subscribe for this route">*@
            }
			</div>
            <br>
        </form>
		</div>
		<hr style="margin-top:40px; margin-bottom:40px">
        <div class="container" >
            @*==========================================================================================================*@
            @if(!matchResponse.subscriptions.isEmpty) {
                <h3>Subscriptions you may be interested in</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                @for((k, v) <- matchResponse.subscriptions) {

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <div class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#subscriptionsCollapse@(k.routePatternId)" aria-expanded="false" aria-controls="subscriptionsCollapse@(k.routePatternId)">
                                    <p><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><b>Start:</b> @(k.startAddress)<br>
                                        <b>End:</b> @(k.endAddress)<br></p>
                                </a>
                            </div>
                        </div>
                        <div id="subscriptionsCollapse@(k.routePatternId)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <h4>The following users have similar journeys:</h4>
                                @for((r, value) <- v) {
                                    <div>
                                        <div class="panel panel-default">
                                            <div class="panel-body">

                                                <ul class="list-group">
                                                    <div class="col-xs-5">
                                                        <li><label>User: <a href="@routes.WhoElse.userProfile(r.userId)">View User</a> </label></li>
                                                        <li><label>Start: @(r.startAddress) </label></li>
                                                        <li><label>Destination: @(r.endAddress) </label></li>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <li><label>Time: @(r.time) </label></li>
                                                        <li><label>Time: @(r.date) </label></li>
                                                            <!--<li><label>PatternDate: @(r.date) </label></li>-->
                                                        <li><label>Fit: @(value.toString) </label></li>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="panel-heading"><b><img href='@routes.Assets.at("images/leave.png")'>
                                                            <span style="font-size:50px; color: #017F0F">
                                                                <span class="glyphicon glyphicon-tree-deciduous  glyphicon-ok" aria-hidden="true"></span>
                                                                @if(value<0.88) {<span style="font-size:50px; color: gray">}
                                                                <span class="glyphicon glyphicon-tree-deciduous  glyphicon-ok" aria-hidden="true"></span>
                                                                @if(value<0.95) {<span style="font-size:50px; color: gray">}
                                                                <span class="glyphicon glyphicon-tree-deciduous  glyphicon-ok" aria-hidden="true"></span>
                                                                @if(value<0.99) {<span style="font-size:50px; color: gray">}
                                                                <span class="glyphicon glyphicon-tree-deciduous  glyphicon-ok" aria-hidden="true"></span>
                                                            </span>
                                                        </b></div>
                                                    </div>

                                                </ul>
                                            </div>
                                            <div  class="panel-footer">
                                                <input type="submit" class="btn btn-default btn-info btn-sm"
                                                value="Show on map!"
                                                onclick="showRoute(@(k.startLat), @(k.startLong), @(k.endLat), @(k.endLong), @(r.startLat), @(r.startLong), @(r.endLat), @(r.endLong))">

                                                <!--MODAL TEST -->
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal@(r.userId)">
                                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>	 Send Message
                                                </button>

                                                    <!-- Modal -->
                                                <div class="modal fade" id="myModal@(r.userId)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">Send message to user @(r.userId) </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <textarea rows="15" class="form-control" type="text"  placeholder="Insert your message here..."></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <!--End MODAL TEST-->
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    }
                            </div>
                        </div>
                    </div>
                }
                </div>
            }
            @if(matchResponse.subscriptions.isEmpty) {
                <h3>No relevant subscriptions found</h3>
            }
            @*==========================================================================================================*@
            @if(!matchResponse.routePatterns.isEmpty) {
                <h3>Matched Routes</h3>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                @for((k, v) <- matchResponse.routePatterns) {

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <div class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse@(k.routePatternId)" aria-expanded="false" aria-controls="collapse@(k.routePatternId)">
                                    <p><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span><b>Start:</b> @(k.startAddress)<br>
                                        @if(!k.endAddress.equals("")) { <b>End:</b> @(k.endAddress)<br></p> }
                                </a>
                            </div>
                        </div>
                        <div id="collapse@(k.routePatternId)" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <h4>The following users have similar journeys:</h4>
                                @for((r, value) <- v) {
                                    <div>
                                        <div class="panel panel-default">
                                            <div class="panel-body">

                                                <ul class="list-group">
                                                    <div class="col-xs-5">
                                                        <li><label>User: <a href="@routes.WhoElse.userProfile(r.userId)">View User</a> </label></li>
                                                        <li><label>Start: @(r.startAddress) </label></li>
                                                        <li><label>Destination: @(r.endAddress) </label></li>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <li><label>Time: @(r.time) </label></li>
                                                            <!--<li><label>PatternDate: @(r.date) </label></li>-->
                                                        <li><label>Periodicity: @(r.periodicity) </label></li>
                                                        <li><label>Fit: @(value.toString) </label></li>
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <div class="panel-heading"><b><img href='@routes.Assets.at("images/leave.png")'>
                                                            <span style="font-size:50px; color: #017F0F">
                                                                <span class="glyphicon glyphicon-tree-deciduous  glyphicon-ok" aria-hidden="true"></span>
                                                                @if(value<0.88) {<span style="font-size:50px; color: gray">}
                                                                <span class="glyphicon glyphicon-tree-deciduous  glyphicon-ok" aria-hidden="true"></span>
                                                                @if(value<0.95) {<span style="font-size:50px; color: gray">}
                                                                <span class="glyphicon glyphicon-tree-deciduous  glyphicon-ok" aria-hidden="true"></span>
                                                                @if(value<0.99) {<span style="font-size:50px; color: gray">}
                                                                <span class="glyphicon glyphicon-tree-deciduous  glyphicon-ok" aria-hidden="true"></span>
                                                            </span>
                                                        </b></div>
                                                    </div>

                                                </ul>
                                            </div>
                                            <div  class="panel-footer">
                                                <input type="submit" class="btn btn-default btn-info btn-sm"
                                                value="Show on map!"
                                                onclick="showRoute(@(k.startLat), @(k.startLong), @(k.endLat), @(k.endLong), @(r.startLat), @(r.startLong), @(r.endLat), @(r.endLong))">

                                                <!--MODAL TEST -->
                                                <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal@(r.userId)">
                                                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>	 Send Message
                                                </button>

                                                    <!-- Modal -->
                                                <div class="modal fade" id="myModal@(r.userId)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">Send message to user @(r.userId) </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <textarea rows="15" class="form-control" type="text"  placeholder="Insert your message here..."></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Send</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                    <!--End MODAL TEST-->
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                }
                            </div>
                        </div>
                    </div>
                }
                </div>
            }
            @if(matchResponse.routePatterns.isEmpty) {
                <h3>No matches found for your route</h3>
            }


            @if(!searchResult.Start.equals("")) {
                <h3>Search Statistics</h3>
            }

            @if(!searchResult.Start.equals("")){
                @if(!searchResult.Stop.equals("")) {
                    You have searched route <b>from @searchResult.Start to @searchResult.Stop</b>
                    <br>
                    @searchResult.ExactMatches users have searched this route
                    <br><br>
                }
            }

            @if(!searchResult.Start.equals("")) {
                <b>Searches starting in @searchResult.Start (@searchResult.StartMatches occurances)</b>

                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Destination Address
                        </th>
                        <th>
                            Frequency
                        </th>
                    </tr>
                    @for(a <- searchResult.StartArea) {
                        <tr>
                            <td>
                            @a.area
                            </td>
                            <td>
                            @a.occurances
                            </td>
                        </tr>
                    }
                </table>
            }


            @if(!searchResult.Stop.equals("")) {
                <b>Searches with destination in @searchResult.Stop (@searchResult.EndMatches occurances)</b>

                <table class="table table-striped table-bordered">
                    <tr>
                        <th>
                            Start Address
                        </th>
                        <th>
                            Frequency
                        </th>
                    </tr>
                    @for(a <- searchResult.DestinationAreas) {
                        <tr>
                            <td>
                            @a.area
                            </td>
                            <td>
                            @a.occurances
                            </td>
                        </tr>
                    }
                </table>
            }

        </div>



        <div class="container" id="mapContainer" style="height: 600px ; margin: 0px auto;"; >
                <!-- This is where Google map will go. -->
        </div>
	</section>
    </body>

<script>
    var mapContainer = $( "#mapContainer" );
//    var map = // above the first Geolocated IP address.
//            map = new google.maps.Map(
//                mapContainer[ 0 ],
//                {
//                    zoom: 15,
//                    center: new google.maps.LatLng(
//                        40.700683,
//                        -73.925972
//                    ),
//                    mapTypeId: google.maps.MapTypeId.ROADMAP
//                }
//            );
    pinpointMe(document, mapContainer, 'startAddress');
    function showRoute(startLat1, startLong1, endLat1, endLong1, startLat2, startLong2, endLat2, endLong2) {
                showRouteOnMap(document, mapContainer, /*map,*/ startLat1, startLong1, endLat1, endLong1, startLat2, startLong2, endLat2, endLong2);
    }
    function handleClick() {
        if ($('input[name="auto"]:checked').val() == 'start'){
            document.getElementById('endAddress').value = '';
            pinpointMe(document, mapContainer, 'startAddress');
        }else{
            document.getElementById('startAddress').value = '';
            pinpointMe(document, mapContainer, 'endAddress');
        }
    }
    function firstSearch(document) {
        document.getElementById("searchRoute").submit();
    }
    function outputUpdate(vol) {
        document.querySelector('#volume').value = vol + " minutes";
    }
    </script>
}
