@(message: String)

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>WhoElse - Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
    </head>
    <body background="@routes.Assets.at("images/whoelse.jpg")">
        <h2>@message</h2>
        <h2>Sign up for WhoElse</h2>
        <div class="col-md-7 well">
            <div class="col-md-10">
                <div ng-app="">
                    <div ng-show=""></div>
                    <form action="@routes.UserActions.addNewUser()" method="post" class="form-horizontal" name="addNewUser">
                        <div class="form-group">
                            <label for="text">Username</label>
                            <input type="text" id="inputUsername" name="username" class="form-control" placeholder="Username" required="required">
                        </div>
                        <div class="form-group">
                            <label for="text">Name</label>
                            <input type="text" id="inputFirstName" name="firstname" class="form-control" placeholder="First name" required="required">
                            <input type="text" id="inputLastName" name="lastname" class="form-control" placeholder="Last name" required="required">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Company</label>
                            <input type="text" id="inputCompany" name="company" class="form-control" placeholder="Company" value="Public" required="required">
                        </div>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <input type="email" id="inputMail" name="email" class="form-control" placeholder="Email address" required="required">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" id="inputPw" name="password" class="form-control" placeholder="Password" required="required">
                        </div>
                        <div class="form-group">
                            <label><input type="checkbox">
                                Accept the WhoElse Terms and Conditions</label><br>
                        </div>
                        <div class="form-group">
                            <p><button type="submit" class="btn btn-primary">Register</button></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>