@(message: String)(successMessage: String)
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Dressando - Sign Up</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))'>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">

        <script type='text/javascript' src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))'></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

    </head>
    <body background="@routes.Assets.at("images/landerDress.png")">

        <div class="col-md-7">
            <div style="height : 10 px"></div>
            <font color=#f8f8ff><h1 class="text-center"><p align="left">sign up. <br>
                to get dressed. </p></h1></font>
            <div style="height : 20 px"></div>
        </div>

        <div class="col-md-7 well">
            <div class="col-md-1"></div>
            @if(successMessage) {
                <div class="col-md-10">
                    <p>@successMessage</p>
                    <p>
                    If you don't receive your activation code via email within 24 hours please contact our  <a href="www.google.de">
                    customer support</a>.</p>
                    <a href="/"><button type="button" class="btn btn-primary">Back</button></a>
                </div>
            } else {
                <div class="col-md-10">
                    <div ng-app="">
                        <div ng-show=""></div>
                        @*<form action="@routes.UserActions.postNewUser()" onsubmit="return validateCreateItemForm()" method="post" class="form-horizontal" name="postNewUser">*@
                            @*<div class="form-group">*@
                                @*<label for="text">Name</label>*@
                                @*<input type="text" id="inputFirstName" name="firstname" class="form-control" placeholder="First name" required="required" autofocus="" ng-model="user.firstname">*@
                                @*<input type="text" id="inputLastName" name="lastname" class="form-control" placeholder="Last name" required="required" autofocus="" ng-model="user.secondname">*@
                            @*</div>*@
                            @*<div class="form-group">*@
                                @*<label for="email">Email Address</label>*@
                                @*<input type="email" id="inputMail" name="email" class="form-control" placeholder="Email address" required="required" autofocus="" ng-model="user.email">*@
                            @*</div>*@
                            @*<div class="form-group">*@
                                @*<label for="pwd">Password</label>*@
                                @*<input type="password" id="inputPw" name="password" class="form-control" placeholder="Password" required="required" autofocus="" ng-model="user.password">*@
                            @*</div>*@
                            @*<div class="form-group" ng-show="user.password">*@
                                @*<p>*@
                                    @*Hello {{user.firstname}}. Welcome to the dressando community. Please accept the dressando terms and conditions to proceed.<br>*@
                                @*</p>*@
                                @*<label><input type="checkbox" ng-model="user.accepted">*@
                                    @*Accept the dressando <a href="www.google.de">*@
                                        @*Terms and Conditions</a></label><br>*@
                            @*</div>*@
                            @*<div class="form-group" ng-show="user.accepted">*@
                                @*<p>On pressing 'get dressed' an Email with an activation code will be sent to your email address {{user.email}}.<br></p>*@
                                @*<p><button type="submit" class="btn btn-primary">get dressed.</button></p>*@

                            @*</div>*@
                            @*<div class="form-group" ng-show="!user.accepted">*@
                                @*<a href="/"><button type="button" class="btn btn-primary">Back</button></a>*@
                            @*</div>*@
                        @*</form>*@
                    </div>
                </div>
            }
        </div>
    </body>
</html>