@(user: User)
@main("user") {

<section>
    <div class="container">
        @if( user.userId == session().get("whoelse_user_id").toInt ){
            <div>
                <h3>Notifications</h3>
            </div>
        }
		
		
		
        <div>
            <h3>User Profile</h3>
            
			
			
			  <div class="span3 well">
        <center style="border:5px solid #ECF0F1; padding: 10px;">
	
		
      <img src='@routes.Assets.at("images/UserUnknown.png")' name="aboutme" width="180" height="180" class="img-circle" >
        <h3>@user.firstName @user.lastName</h3>
     
	
		
			 <label>
                Username: @user.username
            </label>
			<br>
            <label>
                First Name: @user.firstName
            </label>
            <br>

            <label>
                Last Name: @user.lastName
            </label>
            <br>

            <label>
                Email: @user.email
            </label>
		</center>
    </div>
			
			
           
        </div>
        <div>
            <h3>Comments</h3>
        </div>
    </div>
	
	<br><br>

	
</section>
}
